{{#each users}}
  <div class="row user-row">
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img class="user-img"src="https://www.salesarchitects.com/wp-content/uploads/2014/12/silly-business-person.jpg" alt="...">
      </a>
    </div>
    <div class='well'>
      <h3 class="username">{{this.username}}<h3>
        <h3 class="email">{{this.email}}</h3><br>
        <p class="userevents">
          {{#each this.events}}
            {{this.title}} at {{this.venue}} on {{this.start_time}}<br>
          {{/each}}
        </p>
        {{#if this.followed}}
          <button type="button" class="btn btn-default remove-followee-btn" data-eventId="{{this._id}}">Unfollow</button>
          {{else}}
          <button type="button" class="btn btn-default add-followee-btn" data-eventId="{{this._id}}">Follow</button>
        {{/if}}
    </div>
  </div>
{{/each}}
