{{#each users}}
  <div class="row user-row">
    <div class="col-xs-6 col-md-3">
      <a href="" class='thumbnail'>
        <img class="user-img" src='{{this.image_url}}' onError="this.src='https://www.salesarchitects.com/wp-content/uploads/2014/12/silly-business-person.jpg';">
      </a>
    </div>
    <div class='well'>
      <h3 class="username">{{this.username}}<h3><br>
        <h4 class="email">{{this.bio}}</h4><br>

        <p class="userevents">
          {{this.username}} is attending the following events:<br><br>
          <ul>
          {{#each this.events}}
            <li><b><strong>{{this.title}}</strong></b> <br> <i>{{this.venue_name}}</i> <br> {{this.start_time}}</li><br>
          {{/each}}
          </ul>
        </p>
        {{#if this.followed}}
          <button type="button" class="btn btn-default remove-followee-btn" data-eventId="{{this._id}}">Unfollow</button>
          {{else}}
          <button type="button" class="btn btn-default add-followee-btn" data-eventId="{{this._id}}">Follow</button>
        {{/if}}
    </div>
  </div>
{{/each}}
