
{{#each events }}
<div class='well'>
  <div class="media">
    <div class="media-left">
      <a href="">
        <img class="" src={{this.image_url}} onError="this.src='http://i.imgur.com/r7UiMQr.png';">
      </a>
    </div>
    <div class="media-body">
      <h4 class="this.title">{{this.title}}</h4>
      <p>
        {{this.start_time}}<br>
        {{this.venue_name}}: <br>
        {{this.venue_address}}
        {{this.city_name}}, {{this.region_name}}, {{this.country_name}}
        <br>
        {{this.description}}
        <button type="button" class="btn btn-default remove-event-btn pull-right" data-eventId="{{this.id}}">Remove This Event</button>
      </p>
    </div>
  </div>
</div>

{{/each}}
